<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635105667714-laislv0h9qgp03693ejuabuu9m7523ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635105667714-laislv0h9qgp03693ejuabuu9m7523ub</string>
	<key>API_KEY</key>
	<string>AIzaSyDgDxDGo0us4-9HWa5FMGzu8rCHCk-li5A</string>
	<key>GCM_SENDER_ID</key>
	<string>635105667714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basantradio.basantradio</string>
	<key>PROJECT_ID</key>
	<string>basantradio-bff7a</string>
	<key>STORAGE_BUCKET</key>
	<string>basantradio-bff7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635105667714:ios:576877660a52d64986629b</string>
</dict>
</plist>